.App {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Ensures full height usage */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

.expiry-options button {
  margin: 10px;
  padding: 8px 16px;
}

.result {
  margin-top: 20px;
}

.result a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.result a:hover {
  text-decoration: underline;
}

.quote-of-the-day {
  margin: 30px 30px; /* Spacing above and below the quote */
  font-size: 1.1rem;
  color: #5b318e;
  font-weight: bold;
  text-align: center;
}

.App-footer {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  font-size: 0.9rem;
  font-family: "monospace", sans-serif;
}

.App-footer p {
  margin: 0;
}

.expiry-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.expiry-options button {
  margin: 5px;
  padding: 8px 16px;
}
